# Ignora i dati pesanti
*.mp4
*.jpg
*.png
*.pkl

# Ignora file di sistema e python cache
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/

# Ignora alcune cartelle
utils/
checkpoints/
outputs/
data/masks/
data/masks/*
features/dinov2/
features/dinov2/*